body {
    background-color: #626868;
    color: #FFFBFE;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}

.page-header {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
}

.navigation {
    display: flex;
}

.nav-button {
    background-color: transparent;
    border-color: black;
    display: none;
}

.material-symbols-outlined {
    font-size: 120%
}
.banner {
    background-color:rgb(214, 214, 214);
    color:#292929;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 4rem;
    text-align: center;
}

.banner button {
    background-color: #292929;
    padding: 0.8em;
    min-width: 12em;
    color: #FFFBFE;
    font-weight: bold;
    border: 1px white solid;
    border-radius: 4pt;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}
.card img {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
.card-content {
    padding: 1em;
}
.card {
    border: 1px solid #CCCCCC;
    border-radius: 8pt;
    overflow: hidden;
    flex: 1;
    min-width: 300px;
}
.card button {
    min-width: 100%;
    background-color: transparent;
    padding: 0.5em;
    border: 1px solid #CCCCCC;
}
.content {
    margin-top: 3em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 3em;
}

.banner2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 4em;
   margin-top: 1em;
   margin-bottom: 1em;
   color: #292929;
   background: linear-gradient( to bottom right, #292929, white);
}
.banner2 button {
    background-color: #292929;
    padding: 0.8em;
    min-width: 12em;
    color: #FFFBFE;
    font-weight: bold;
    border: 1px white solid;
    border-radius: 4pt;
}

.footer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: #292929;
   min-height: 20vh;
   padding: 1em;
}
.footer-menu {
    display: flex;
    flex-direction: column;
}
.footer-menu a, .legal a, .social a {
    color: white;
    text-decoration: 100%;
}
.legal {
    min-width: 100%;
}