body {
    background-color: #626868;
    color: #FFFBFE;
    margin: 0px;
}

.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}

.page-header {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
}

.navigation {
    display: flex;
}

.nav-button {
    background-color: transparent;
    border-color: black;
    display: none;
}

.material-symbols-outlined {
    font-size: 120%
}